<template name="poll">

<div class="poll well well-lg" data-id="{{ _id }}">
    
    <h2 class="text-center">{{ score }}<small class="text-left">/{{people}}人次</small>

    {{#if hasVoted _id}}
    <img src="/images/vote.png" class="pull-right" height="40">
    {{/if}}

    </h2>

    
    <hr>
    <h3 class="text-center">{{ _index }}.{{ project }}</h3>
    <h4 class="text-center">報告成員:{{ presenter }}</h4>
	{{#if demo}}
        <h4 class="text-center">Demo: 
            
            <a href="{{ demo }}" target="_new"> 按我連結</a>
            
        </h4>
    {{else}}
        <h4 class="text-center text-danger">沒有提供連結</h4>
    {{/if}}
	<hr>
    {{#unless hasVoted _id}}
        {{ #each indexedArray choices }}
            <a href="#" class="vote btn btn-primary btn-block" data-id="{{ _index }}">
                <span class="votes pull-right">{{ votes }}</span>
                <span class="text">{{ text }}</span>
            </a>
        {{ /each }}
    {{/unless}}
</div>
</template>