<template name="pollForm">

<form class="poll-form"> 
    <div class="form-group question-group">
        <label>報告者</label>
        <input type="text" name="presenter" class="form-control" placeholder="Your Name">
    </div>

    <div class="form-group">
        <label>主題</label>
        <input type="text" name="project" class="form-control" placeholder="Project Name">
    </div>
    <div class="form-group">
        <label>Demo 網址</label>
        <input type="text" name="demo" class="form-control" placeholder="Demo Link">
    </div>
   <!--  <div class="form-group">
        <label>Choice #3</label>
        <input type="text" name="choice3" class="form-control" placeholder="Choice #3">
    </div> -->

    <button type="submit" class="btn btn-lg btn-primary btn-block">發佈報告</button>
</form>

</template>